Aufgabe1/A2.1_Produktkatalog.xml

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % preis "(Brutto | Netto)">
<!ENTITY % preis_content "(DerPreis, Kürzel, LandesKürzel, Steuersatz)">
<!ELEMENT Produktkatalog (Header, Artikel+)>
<!ELEMENT Header (Generierungsdatum, Name, Beschreibung?)>
<!ELEMENT Generierungsdatum (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!--maximal Länge 50-->
<!ELEMENT Beschreibung (#PCDATA)>
<!--maximal Länge 100-->
<!ELEMENT Artikel (Kurzbeschreibung, Hersteller?, zusatz_ArtikelNr*, Langbeschreibung?, Preis, Zubehoer*)>
<!ELEMENT Kurzbeschreibung (#PCDATA)>
<!--maximal Länge 80-->
<!ELEMENT Hersteller (#PCDATA)>
<!--maximal Länge 50-->
<!ELEMENT zusatz_ArtikelNr (#PCDATA)>
<!ATTLIST zusatz_ArtikelNr typ CDATA #REQUIRED>
<!--maximal Länge 50-->
<!ELEMENT Langbeschreibung (#PCDATA | Wichtig)*>
<!--maximal Länge 50-->
<!--<!Element Wichtig (#PCDATA)>--
<!ELEMENT Preis %preis;>
<!ELEMENT Brutto %preis_content;>
<!ELEMENT Netto %preis_content;>
<!ELEMENT DerPreis (#PCDATA)>
<!ELEMENT Kürzel (#PCDATA)>
<!ATTLIST Kürzel
Währung (EUR | USD | CHF | GBP) "EUR">
<!ELEMENT LandesKürzel (#PCDATA)>
<!--maximal Länge 3-->
<!ELEMENT Steuersatz (#PCDATA)>
<!ATTLIST Artikel
ArtikelNr ID #REQUIRED>
<!ELEMENT Zubehoer EMPTY>
<!ATTLIST Zubehoer artikelNr IDREF #REQUIRED>